<thead>
  <tr>
    <th>Imagen</th>
    <th>Producto</th>
    <th>Precio</th>
    <th>Stock</th>
  </tr>
</thead>

<tbody>
  {% for producto in productos %}
  <tr>
    <td>
      {% if producto.imagen %}
      <img
        src="{{ producto.imagen.url }}"
        alt="{{ producto.nombre }}"
        width="80"
      />
      {% else %} Sin imagen {% endif %}
    </td>
    <td>{{ producto.nombre }}</td>
    <td class="precio">$ {{ producto.precio }}</td>
    <td class="stock">{{ producto.stock }} unidades</td>
  </tr>

  {% empty %}
  <tr>
    <td colspan="4" class="vacio">No hay productos disponibles.</td>
  </tr>
  {% endfor %}
</tbody>
